*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body {
    background-color: #c6d5c6; /* Match the loader's background color */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll during loader */
  }
  